<!DOCTYPE html>
<html lang="en">
<head>
	<title>CacheViewer</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
	<header>
		<nav class="crumbs">
			<ol>
				<li><a href="index.php">BetterVideoRss</a></li>
				<li><a href="tools.html">Tools</a></li>
				<li>Cache Viewer</li>
			</ol>
		</nav>
	</header>
	<div id="main" class="viewer">
		<table class="stats">
			<thead>
				<tr>
					<th>Files</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<tr class="center">
					<td>{fileCount}</td>
					<td>{cacheSize}</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr class="center">
					<th>#</th>
					<th>Name</th>
					<th>Type</th>
					<th>Last Modified</th>
					<th>Size</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				{tbody}
			<tbody>
		</table>
	</div>
</body>
</html>
