<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{feedTitle}</title>
		<meta name="robots" content="noindex, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{feedDescription}">
		<link rel="icon" href="static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{feedTitle} RSS feed" href="{rssUrl}">
		<link rel="alternate" type="application/json" title="{feedTitle} JSON feed" href="{jsonUrl}">
	</head>
	<body>
		<header class="center">
			<a target="_blank" href="{feedUrl}">{feedTitle}</a>
		</header>
		<main>
			<section id="links">
				<div>Feed format:</div>
				<div>
					<div id="feedFormatBts">{feedFormatButtons}</div>
				</div>
			</section>
			<section id="items">
				{items}
			</section>
		</main>
		<footer class="center">
			BetterVideoRss - <a href="https://github.com/VerifiedJoseph/BetterVideoRss">Source Code</a>
		</footer>
	</body>
</html>
