<!DOCTYPE html>
<html lang="en">
<head>
	<title>BetterVideoRss</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, nofollow">
	<link rel="icon" href="static/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
	<header class="center">
		BetterVideoRss
	</header>
	<div id="main">
		<div id="forms">
			{error}
			<div class="item">
				<h2>Channel</h2>
				<form action="" method="post">
					<input type="hidden" name="type" value="channel">
					<div class="form-input">
						<input class="input center-text" name="query" type="input" placeholder="Username, Channel ID or Channel Title" required>
					</div>
					<details>
						<summary>Options</summary>
						<div class="form-option">
							<div class="input">
								<label for="embed_videos_channel" class="checkbox-text">Embed videos:</label>
								<input id="embed_videos_channel" class="checkbox" type="checkbox" name="embed_videos" value="yes">
							</div>
						</div>
						<div class="form-option">
							<div class="input">
								<label for="ignore_premieres_channel" class="checkbox-text">Ignore premieres:</label>
								<input id="ignore_premieres_channel" class="checkbox" type="checkbox" name="ignore_premieres" value="yes">
								<span class="checkbox-note" title="Upcoming video premieres will not be show in the feed. Videos will be shown when available to watch.">[?]</span>
							</div>
						</div>
						<div class="form-option">
							<label>Feed format: 
								{selectHtml}
							</label>
						</div>
					</details>
					<div class="form-button">
						<button type="submit">Generate</button>
					</div>
				</form>
				<p class="feedUrl">{channelLink}</p>
			</div>
			<div class="item">
				<h2>Playlist</h2>
				<form action="" method="post">
					<input type="hidden" name="type" value="playlist">
					<div class="form-input">
						<input class="input center-text" name="query" type="input" placeholder="Playlist ID or title" required>
					</div>
					<details>
						<summary>Options</summary>
						<div class="form-option">
							<div class="input">
								<label for="embed_videos_playlist" class="checkbox-text">Embed videos:</label>
								<input id="embed_videos_playlist" class="checkbox" type="checkbox" name="embed_videos" value="yes">
							</div>
						</div>
						<div class="form-option">
							<div class="input">
								<label for="ignore_premieres_playlist" class="checkbox-text">Ignore premieres:</label>
								<input id="ignore_premieres_playlist" class="checkbox" type="checkbox" name="ignore_premieres" value="yes">
								<span class="checkbox-note" title="Upcoming video premieres will not be show in the feed. Videos will be shown when available to watch.">[?]</span>
							</div>
						</div>
						<div class="form-option">
							<label>Feed format: 
								{selectHtml}
							</label>
						</div>
					</details>
					<div class="form-button">
						<button type="submit">Generate</button>
					</div>
				</form>
				<p class="feedUrl">{playlistLink}</p>
			</div>
			<div class="item">
				<h2>URL</h2>
				<form action="" method="post">
					<input type="hidden" name="type" value="url">
					<div class="form-input">
						<input class="input center-text" name="query" type="input" placeholder="youtube.com URL" required>
					</div>
					<details>
						<summary>Options</summary>
						<div class="form-option">
							<div class="input">
								<label for="embed_videos_url" class="checkbox-text">Embed videos:</label>
								<input id="embed_videos_url" class="checkbox" type="checkbox" name="embed_videos" value="yes">
							</div>
						</div>
						<div class="form-option">
							<div class="input">
								<label for="ignore_premieres_url" class="checkbox-text">Ignore premieres:</label>
								<input id="ignore_premieres_url" class="checkbox" type="checkbox" name="ignore_premieres" value="yes">
								<span class="checkbox-note" title="Upcoming video premieres will not be show in the feed. Videos will be shown when available to watch.">[?]</span>
							</div>
						</div>
						<div class="form-option">
							<label>Feed format: 
								{selectHtml}
							</label>
						</div>
					</details>
					<div class="form-button">
						<button type="submit">Generate</button>
					</div>
				</form>
				<p class="feedUrl">{fromUrlLink}</p>
			</div>
		</div>
		<div class="index-footer">
			<p><a href="tools.html">Tools</a> - <a href="https://github.com/VerifiedJoseph/BetterVideoRss" target="_blank">Source Code</a></p>
			<span class="small"><a href="https://github.com/VerifiedJoseph/BetterVideoRss/releases/tag/v{version}" target="_blank">v{version}</a></span>
		</div>
	</div>
</body>
</html>