# Ignore everything
*

# Allow files and directories
!/include
!/static
!/index.php
!/feed.php
!/tools.html
!/cache-viewer.php
!/composer.json
!/composer.lock
!/docker/config/*
!/docker/entrypoint.sh
