/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}strong,b{font-weight:bold}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}html,html a{-webkit-font-smoothing:antialiased;}*,*:before,*:after{box-sizing:inherit}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #FFF;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
}

h2 {
	font-size: 16px;
	text-align: center;
}

p {
	margin: 0;
	margin-bottom: 10px;
}

.gray {
	color: gray;
}

.small {
	font-size:13px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

footer, header {
	padding: 10px;
	padding-left: 25px;
	background-color: rgb(233, 236, 239);
}

.center {
	text-align: center;
}

#main {
	margin-left: 10px;
	margin-right: 10px;
}

table {
	padding: 0;
	border-spacing: 0;
	background-color: rgb(233, 236, 239);
	border : 1px solid rgb(0, 0, 0);
}

table.stats {
	width:200px;
	margin-bottom: 10px;
}

table.files {
	width:1150px;
}

table.part {
	width: 1153px;
}

table th {
	padding: 4px;
}

table tr.center {
	text-align:center;
}

table td {
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	padding: 4px 4px;
	vertical-align: middle;
}

table td.videoDetails {
	width:440px;
}

table td.buttons {
	width:190px;
}

ul {
   list-style: unset;
}

li {
	margin-left: 1em;
}

#items, #feeds, #links {
	max-width: 700px;
	margin: 15px auto;
	margin-top:0;
}

#links {
	margin-top: 15px;
	margin-bottom: 15px;
}

.item, .viewer, .tools, article {
	margin-top: 15px;
}

article .title {
	background-color: rgb(233, 236, 239);
	text-align: center;
	padding: 10px;
}

article img {
	max-width: 100%;
}

textarea.description {
	width: 590px;
	height: 90px;
}

textarea.tags, textarea.videos {
	width: 100%;
	height: 55px;
}

.thumbnail {
	width:100px;
}

button {
	width: 90px;
}

.input {
	width:280px;
}

#error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	text-align: center;
	padding: 5px;
	margin-bottom: 15px;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumbs li {
	margin-left: 0em;
	display: inline-block;
}

.crumbs li > a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
